@charset "UTF-8";

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}



*{
	margin:0px;
	padding:0px;
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Lato","tahoma","verdana","arial","sans-serif";
	font-size: 16px;
	font-weight: 300;
	background-color:#303030;
	color:#dddddd;
}

a {color: #FFFFFF; text-decoration: none; cursor:pointer;}
a:link {color: #FFFFFF; text-decoration: none; cursor:pointer;}
a:hover a:visited a:active {color: #FFFFFF; text-decoration: none; cursor:pointer;}
a:hover, a:visited, a:active {color: #FFFFFF; text-decoration: none; cursor:pointer;}


.navbar-toggle {
	position: inherit;
	float: left;
	text-align: center;
	
	background-image: none;
	border: 0px solid transparent;
	border-radius: 0px;
	width: 95px;
	height: 95px;
	background-color: #fd0404;
	color: #ffffff;
	
	margin:0px;
	padding: 0px;
	padding-top: 15px;
}

.offcanvas-toggle{
	position: inherit;
	float: left;
	text-align: center;
	
	background-image: none;
	border: 0px solid transparent;
	border-radius: 0px;
	width: 95px;
	height: 95px;
	background-color: #61c4f2;
	color: #ffffff;
	
	margin:0px;
	padding: 0px;
	padding-top: 15px
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #fd0404;
}


.navbar-inverse {
	background-color: #000;
	border-color: rgba(0,0,0,0.0);
	border: none;
}

.container {
	margin: auto;
	padding: 0px;
	width: 100%;
	min-width: 100%;
}


.blackheader{
	width:100%;
	height: 95px;
	float:none;
	margin:auto;
	background-color: #000000;
}

.myglyphicon {top: -2px;}

.logo{

	height: 100%;
	float: left;
	margin-top: 30px;
}


.txtinput_black{
	width: 40%;
	float: left;
	height: 56px;
	background: url(../img/search.svg) 99% center no-repeat;
	background-color: rgba(0,0,0,0);
	border: solid 2px #424242;
	margin-top: 23px;
}



.header_right{
	float:right;
	width: 40%;
	height: 100%;
	display: table;
	margin-top: 25px;

}


.headertext{
	min-width:100px;
	font-size: 14px;
	color: #787878;
	text-align: center;
	font-weight: 500;
	margin-left: 7px;
	margin-right: 7px;
	display: table-cell;
	vertical-align: middle;
}

.lines{
	width: 1px;
	height: 20px;
	float: none;
	border-left: solid 1px #d6d6d6;
	position: absolute;
	margin-top: 18px;
}

.circle_cont{
	width: 50px;
	min-width: 50px;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	}

.redcircle{
	width: 25px;
	height: 25px;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	-webkit-border-radius: 14px 15px 15px 14px/15px 15px 14px 14px;
	-moz-border-radius: 14px 15px 15px 14px/15px 15px 14px 14px;
	border-radius: 14px 15px 15px 14px/15px 15px 14px 14px;
	background-color: #fd0404;
	margin-left: -16px;
	position: absolute;
	margin-top: -12px;
	padding-top: 4px;

}

.bt_header{
	width: 170px;
	height: 54px;
	font-size: 16px;
	color: #ffffff;
	background-color: #000;
	border: solid 2px #fff;
	
	float: right;
	margin-right: 5px;
}

.bt_header:hover{
	color: #ffffff;
	background-color: rgba(255,255,255,0.2);
}



.breadcrumb {
	padding: 26px 15px;
	list-style: none;
	background-color: #d6d6d6;
	border-radius: 0px;
	margin-bottom: 0px
}



.leftsection{
	height: 100%;
	background-color: #303030;
}

.left_titles{
	color: #ffffff;
	font-weight: bolder;
	line-height: 4;
}

.left_text{
	color: #ffffff;
}


/*ACORDION STYLES*/
.panel {
	background-color: #3c3c3c;
	border: none
}



.panel-group .panel {border-radius: 0px;}
.panel-group .panel-heading+.panel-collapse .panel-body {border-top: none;}

.panel-heading {
	padding: 20px 20px; 
	border-top-right-radius: 0px; 
	border-top-left-radius: 0px;
	background-color: #585858;

}

.panel-body {
	padding: 15px;
	color: #ffffff;
	padding: 20px 20px;
	border-bottom: solid 2px #757575;
}

.accordionitem{
	list-style:none;
}

.accordionitem>li {
display: inline-block;
}

.accordionitem>li>a:hover {
	color:#fd0404;
}

.accordionitem>li+li:before {
content: "•";
padding: 0 5px;
}

.more{
	float: right;
	margin-top: 2px;
	font-size: 32px;
	font-weight: 100;
	line-height: 0.5;
}

.mysimple_text_black{
	float: left;
	color: #787878;
	font-weight: 700;
	font-size: 14px;
	line-height: 3.5;
}


.mysimple_text{
	float: left;
	font-size: 14px;
	color: #9e9e9e;
}

.mysimple_title25{
	font-size: 25px;
	color: #9e9e9e;
}

.mysimple_title35{
	font-size: 35px;
	font-weight:500;
	color: #9e9e9e;
}

.rightsection{
	background-color: #f3f3f3;
	height: 100%;
}

.myselect3{
	float: left;
	margin: auto;
	width:320px;
	font-size: 14px;
	height: 50px;
	color:#9e9e9e;
	background-color: rgba(243,243,243,0);
	border: solid 2px #d6d6d6;
	margin-left: 20px;
	margin-right: 20px;
	
	
	background: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	
	background-image: url(../img/carrot2.png); 
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 20px;
}


.rightcontainer{
	width: 95%;
	float: none;
	margin: auto;
	overflow:auto;
	padding-top: 45px;
	
}
.rightcontainer2{
	width: 95%;
	float: none;
	margin: auto;
	overflow:auto;
	padding-top: 45px;
	
}


.pagination {
	margin: 0px 0;
}

.right_left{
	width: 33%;
	float: left;

	height: 50px;
	line-height: 3;
}
	
.right_center{
	width: 33%;
	min-width: 222px;
	float: left;
	margin-top: 3px;
	text-align: center;
	height: 50px;
}

.right_right{
	width: 20%;
	float: right;

	height: 50px;
	line-height: 3;
}

.right_right .myselect3{ 
	width:70px; 
	height:40px;
	margin-left: 10px;
	margin-right: 8px;
	float:right;
}

.right_right .mysimple_text{
	float:right;
}

.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.42857143;
	text-decoration: none;
	color: #9e9e9e;
	background-color: rgba(0,0,0,0.0);
	border: none;
	margin-left: -1px;
	font-size: 16px;
}

.product_list{
	text-align: center;
	margin: 0 auto;
	position: relative;
	width: 100%;
}
.product{
	display:inline-block;
    margin:auto;
	margin:1%;
	
}

.img_simple{
	float: none;
	margin: auto;
	width:100%;
	text-align: center;
	border: 2px solid #E5E5EA;
	display: block;

}

.product .mysimple_text_black{
	text-align: center;
	float: none;
	margin: auto;
}

.product .mysimple_text{
	text-align: center;
	float: none;
	margin: auto;
	color: #61c4f2;
}


/*
* NEW OFF CANVAS
* 
*/

#site-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height:100%; 
}
#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  
  -webkit-transform: translateX(0);
  transform: translateX(0);
  
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}
.show-nav #site-canvas {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}
#site-menu {
  
  
}


/* PRODUCT*/

.btn-lg, .btn-group-lg>.btn {
	padding: 15px 94px;
	font-size: 16px;
	line-height: 1.33;
	border-radius: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.btn-danger {
	color: #fff;
	background-color: #fd0404;
	border-color: #fd0404;
}

.img_simple_big{
	float: none;
	margin: auto;
	text-align: center;
	border: 2px solid #E5E5EA;
	display: block;

}

.mysimple_text2{
	font-size: 16px;
	color: #9e9e9e;
	line-height: 1.8;
	margin-bottom: 20px;
	display: block;
}

.mysimple_title25{
	font-size: 25px;
	color: #9e9e9e;
}

.mysimple_title35{
	font-size: 35px;
	font-weight:500;
	color: #9e9e9e;
}

.text_red:link, .text_red:visited{
	font-size: 16px;
	color: #fd0404;
}

.prodcontent{
	width: 315px;
	margin-left: 4%;
}

.prodcontent .myselect3{
	margin-left: 0px;
}


/*Part*/

.availability{font-weight:800; display: block;}
.price{color:#fd0404; display: block;}
.qt{float: left; line-height: 3.5; margin: 7px;}
.description{}

.txtinput_qt{
	width: 90px;
	font-size: 18px;
	color: #999999;
	float: left;
	height: 56px;
	background-color: rgba(0,0,0,0);
	border: solid 2px #d6d6d6;
	margin-top: 23px;
	padding: 9px;
}

.mob_icon{
	width: 65%;
	margin-top: 10px;
}

}


@media only screen and (max-width: 1450px) { /*Small Desktops*/
	.header_right{	width: 35%;}
	.bt_header {width: 130px;}
	.circle_cont {width: 10px; min-width: 10px; padding-bottom: 30px;}
	.redcircle {margin-left: -20px;}

	.panel-heading {padding: 20px 5px;}
	.panel-body {padding: 20px 5px}
	.accordionitem>li {	font-size: 12px;}
	.accordionitem>li {font-size: 12px;}
	.more {font-size: 18px; line-height: 0.8;}
	.rightcontainer {width: 100%;}
	
	
	/*Product*/
	.img_simple_big{
	width: 49%;
	}
	.left_top{
	margin-left: 0%;
	}
	
}

@media only screen and (max-width: 1250px) { 
	.txtinput_black{width: 33%;}
	.header_right{	width: 30%;}
	.myselect3 {width: 220px;}
	
	.headertext {min-width: 90px;}
	.bt_header {width: 80px; margin-right: 10px;margin-left: 10px;}
	
	/*adapt size for ipads*/
	.product {
	width: 47%;
	}
	
	.right_left .mysimple_text {
	margin-left: 6%;
	}
	
	.right_right .myselect3 {
	margin-right: 9%;
	}
	
	/*Product*/
	.left_top {
	margin-left: 2%;
	}
}

@media only screen and (max-width: 992px) {
	/*bootstrap Breakpoint change*/
	.navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
		margin-top: 100px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
	
	.mob_icon {  width: 55%;  margin-top: 7px;}
	
	#site-wrapper{overflow-x: hidden!important;}/*hide scroll offcanvas*/
	
	
		/*mobile header menu ADAPTATION*/
	.mobilesearch {
	width: 90%;
	margin-left: 5%;
	margin-top: 30px;
	font-size: 18px;
	color: #fff;
	}
	
	.headertext {
	width: 100%;
	color: #ffffff;
	border-top: 1px solid #2E2E2E;
	display: block;
	float: left;
	height: 40px;
	padding-top: 7px;
	}
	
	.circle_cont {
	padding-top: 0;
	display: block;
	}
	
	.redcircle {
	margin-left: -70px;
	margin-top: 87px;
	}	
	
	.bt_header {
	width: 90%;
	margin-right: 5%;
	margin-top: 10px;
	margin-bottom: 20px;
	}
	
	
	
	.txtinput_black {width: 90%;margin-left: 5%; margin-top: 0px;}
	
	.logo{float:right;}
	
	
	.header_right {width: 100%;}
	
	
	
	.container {padding-left: 0px; padding-right: 15px;}
	
	
	
	#site-menu {margin-left: -300px; min-width:300px;}
	.myselect3 {width: 290px;}
	
	
	
}




@media only screen and (max-width: 767px) { 
	.bt_header {
	margin-top: -24px;
	}
	.myselect3 {width: 180px;}
	
	/*Product*/
	.img_simple_big{
	width: 100%;
	}
	.left_top{
	margin-left: 1%;
	}
	
	.prodcontent {
	width: 100%;
	margin-left: 0%;
	text-align: center;
	}
	
	.prodcontent .myselect3 {
	margin-left: 0px;
	float: none;
	margin: auto;
	}
	
	/*PART*/
	.quantity{
	overflow: auto;
	float: none;
	margin: auto;
	width: 200px;
	text-align: center;
	}
	
	.description{display:block}
	
}

@media only screen and (max-width: 550px) {
	/*tiny header for mobile*/
	.navbar-inverse { min-height: 60px;}
	
	.blackheader {height: 60px;}
	
	.logo {	float: right;	margin-right: -15px;	margin-top: 15px;	}
	
	.navbar-collapse {margin-top: 50px;}

	.navbar-toggle {width: 60px; height: 60px; padding-top: 0px;}
	
	.offcanvas-toggle {width: 60px; height: 60px; padding-top: 0px;}
	
	.logo>img{width: 170px;}
	
	.mob_icon {  width: 65%;  margin-top: 10px;}
	 
	.myselect3 {
	width: 280px;
	margin-left: 0px;
	margin-right: 0px;
	float: none;
	margin: auto;
	}
	
	.right_center {width: 100%;}

	.rightsection .rightcontainer{text-align: center; padding-top:5px;}
		
	.rightcontainer .mysimple_text_black{width: 100%; text-align: center; line-height: 3;}
	
	.right_right .myselect3 {
	margin-right: 0px;
	}
	
	/*adapt size for mobile*/
	.product {
	width: 99%;
	}
	
	.btn-lg, .btn-group-lg>.btn {
	padding: 15px 82px;
	}