.weatherlocationcont{
    background-color: #00b99a;
    border-radius: 38px 38px 38px 38px;
    -moz-border-radius: 38px 38px 38px 38px;
    -webkit-border-radius: 38px 38px 38px 38px;
    border: 0px solid #00b99a;
    padding-bottom: 0.5em;
}