.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SearchButton:hover{
  background-color:#4095c6;
}


.TextLocation{
  border: 0;
  padding: 0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-bottom: 1 solid #1C6EA4;
  background-color: #f8f8f8
}


.SearchButton{
  display: inline-block;
  padding: 0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
}


.WeatherListCont{
  display: block;
}


.AddWeatherBtn{
  display: block;
  padding: 0.3em 1.2em;
  margin-top: 2em;
  margin-left: 16em;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align: left;
  transition: all 0.2s;
}

.WeatherList{
  display: inline
}

.NewWeather{
  display: inline
}

.red{
  background-color: red;
}

.green{
  background-color: green
}

.blue{
  background-color: blue
}