@charset "UTF-8";

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

*{
	margin:0px;
	padding:0px;
}
hr {
	margin-top: 15px;
	margin-bottom: 15px;
	border: 0;
	border-top: 1px solid rgba(255,255,255,0.4);
}
html, body{
	width:100%;
	min-width:100%;
	height: 100%;
	min-height: 100%;
	background-color: #172232;
	font-family: "Lato","PT sans","tahoma","verdana","arial","sans-serif";
	color:#385c7f;
	font-weight:lighter;
	
}





/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:999; 
	
	background-color: #1A1E20;
 	-webkit-box-shadow: inset 0 0 950px #000000;
  	-moz-box-shadow: inset 0 0 950px #000000;
   	box-shadow: inset 0 0 950px #000000; 
}

#status {
	  width: 220px;
	  height: 220px;
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  /* background-repeat: no-repeat; */
	  /* background-position: center; */
	  margin: -100px 0 0 -100px;
	  /* background-color: rgba(255,255,255,.03); */
	  /* border: solid 1px rgba(255,255,255,.06); */
}

.preload_text_cont{
	float: none;
	margin: auto;
	text-align: center;
	margin-bottom:4px;
}

.preload_text{
	font-family: "Lato","PT sans","tahoma","verdana","arial","sans-serif";
	color: rgba(255,255,255,1);
	font-size: 11px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 2;
}



/* preload animations */

.spinner {
      margin: 70px auto;
	  margin-bottom: 40px;
      width: 40px;
      height: 40px;
      position: relative;
      text-align: center;
      
      -webkit-animation: rotate 2.0s infinite linear;
      animation: rotate 2.0s infinite linear;
    }

    .dot1, .dot2{
      width: 40%;
      height: 40%;
      display: inline-block;
      position: absolute;
      top: 0;
      background-color: #2ce4be;;
      border-radius: 100%;
      
      -webkit-animation: bounce 3.0s infinite ease-in-out;
      animation: bounce 3.0s infinite ease-in-out;
    }

    .dot2 {
      top: auto;
      bottom: 0px;
      -webkit-animation-delay: -0.7s;
      animation-delay: -0.7s;
    }
	
	

    @-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
    @keyframes rotate { 100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
      }
    }

    @-webkit-keyframes bounce {
      0%, 100% { -webkit-transform: scale(0.0) }
      50% { -webkit-transform: scale(1.0) }
    }

    @keyframes bounce {
      0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
      } 50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
    }
	
/* END PRELOAD */







/*buttons*/
.btn{
    border-radius: 0px;
    padding:10px 20px;
}
.btn-link{
	color: #FFFFFF;
	text-decoration: none;
	background-color: transparent;
	
	transition: all ease-out 0.5s;
	-ms-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s
}
.btn-link:hover, .btn-link:focus {
	color: #FFFFFF;
	text-decoration: none;
	background-color: rgba(255,255,255,.1);
	
	transition: all ease-out 0.5s;
	-ms-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s
}

.btn-danger {
	font-size: 16px;
	font-weight: 200;
	background-color: #fe6d6a;
	border: none;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,.11);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
	transition: all ease-out 0.5s;
	-ms-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s;
	margin:1px;
}

.btn-danger:hover{
	border:none;
	background-color: #fcacaa;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.17);
	-moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,.17);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.17);
	
	transition: all ease-out 0.5s;
	-ms-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s
}
.btn-info{
	background-color: #2ce4be;
	border: none;
	padding: 10px 40px;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.17);
	-moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,.17);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.17);
	
	
	transition: all ease-out 0.5s;
	-ms-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s
}

.btn-info:hover{
	background-color: #45f3cf;
	border: none;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.17);
	-moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,.17);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.17);
	
	
	transition: all ease-out 0.5s;
	-ms-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s
}

.contentbtn{
	width:100%; float:left; margin-top:15px;
}

.btn-rounded{
	background-color: #1de3bd;
	margin-top: -7px;
	margin-right: 7px;
	font-size: 22px;
	color: #ffffff;
	border-radius: 200px;
	height: 40px;
	width: 40px;
	border: none;
	text-align: center;
	text-decoration: none;
}


.alert-danger{
	width: 200px;
	height: 40px;
	background-color: #fe6d6a;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 300;
	color: #ffffff;
	border: none;
	margin:1px;
	
	transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	-webkit-transition: all 300ms ease-in;
	-ms-transition: all 300ms ease-in;
	-o-transition: all 300ms ease-in;
}

.alert-danger:hover{
	width: 200px;
	height: 40px;
	background-color: #FFB7B5;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 300;
	color: #ffffff;
	border: none;


	transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
}




.bgimg{
	width:100%;
    margin:0px;
	background-color: rgba(23,45,81,.100);
	-webkit-box-shadow: inset 0 0 27px rgb(18,36,65);
	-moz-box-shadow: inset 0 0 27px rgba(18,36,65,.35);
	box-shadow: inset 0 0 27px rgba(18,36,65,.35);	
}


.contenttext{
	float: none;
	margin: auto;
	text-align:center;
	margin-top: 27%;
	padding-left: 10px;
	width: 90%;
	
	
}

.contenttextl{
	float: left;
	padding-left: 10px;
	margin-left:7%;
	width: 90%;
	
}

.contenttextr{
	float: right;
	margin: auto;
	margin-left: 50%;
	margin-top: 30%;
	padding-left: 10px;
	width: 50%;
	
	
}


.contenttextp6{
	float: none;
	margin: auto;
	text-align: center;
	margin-top: 20%;
	width: 500px;
	
}
.contenttextp6back{
	
	padding-left: 10px;
	padding-top: 60px;
	padding-bottom: 60px;
	width: 500px;
	background-color: rgba(255,255,255,.10)
}



.title{
	font-size:48px;
	color:#3f3f3f;
}

.subtitle{
	font-size:18px;
	text-transform:uppercase;
	color:#3f3f3f;
	
	margin-top: -16px;
	margin-left: 2px;
}

.text{
	font-size:24px;
	color:#3f3f3f;
	
	margin-top: -12px;
	margin-left: 2px;
}


.titlew{
	font-size:48px;
	color:#ffffff;
}

.subtitlew{
	font-size:16px;
	text-transform:uppercase;
	color:#ffffff;
	
	margin-top: -16px;
	margin-left: 2px;
}

.textw{
	font-size: 16px;
	color: #ffffff;
	margin-top: -10px;
	margin-left: 2px;
	margin-right: 30px;
	line-height: 29px;
}


.curtain{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,.80);
	-webkit-box-shadow: inset 0 0 250px #000;
	-moz-box-shadow: inset 0 0 250px #000;
	box-shadow: inset 0 0 250px #000;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.47), rgba(28,42,53,.47));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.47), rgba(28,42,53,.47));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.47), rgba(28,42,53,.47));
	background-image: linear-gradient(to top, rgba(0,0,0,.47), rgba(28,42,53,.47));
	
	border:rgb(0,0,0) solid 1px;
}


.curtain6{
	width:100%;
	height:100%;
	min-height:100%;
	background:url("../img/p6b.jpg") center center no-repeat;
	background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
}

.maximo{
	width:100%; 
	min-width:100%;
	height:100%;
	min-height:100%;
	max-width:1897px;
}

.slide{
	width:100%;
	
}

#p0{
	height: 990px;
	background:url("../img/p0.jpg") center center no-repeat;
	background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	
	
}


.slide-1 .bgimg .contenttextl{ ss}

#p2{
	height: 1020px;
	background:url("../img/p2.jpg") center center no-repeat;
	background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	
	
}
.slide-2 .bgimg .contenttextl {margin-top:20%;}
.slide-2 .bgimg .contenttextl .title{color:#FFFFFF}
.slide-2 .bgimg .contenttextl .subtitle{color:#FFFFFF}
.slide-2 .bgimg .contenttextl .Text{color:#FFFFFF}

#p3{
	height: 900px;
	min-height:100%;
	background:url("../img/p3.jpg") center center no-repeat;
	background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	
}

#p4{
	height: 1000px;
	min-height:100%;
	background:url("../img/p4.jpg") center center no-repeat;
	background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	
	
}

.slide-4 .bgimg .contenttext .title{color:#FFFFFF}
.slide-4 .bgimg .contenttext .subtitle{color:#FFFFFF}
.slide-4 .bgimg .contenttext .Text{color:#FFFFFF}

#p5{
	height: 1000px;
	min-height:100%;
	background:url("../img/p5.jpg") center center no-repeat;
	background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	
	
}

#p6{
	height: 100%;
	width: 100%;
	min-height:100%;
	background:url("../img/p6.jpg") center center no-repeat;
	background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	
	
}

.slide-6 .bgimg .contenttext .title{color:#FFFFFF}
.slide-6 .bgimg .contenttext .subtitle{color:#FFFFFF}
.slide-6 .bgimg .contenttext .Text{color:#FFFFFF}

#p7{
	height:100%;
	background:url("../img/p7.jpg") center center no-repeat;
	background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	
	
}

#p7 .contenttextl{
	padding-top:80px;
	}


#p20151{
	height:100%;
	min-height:100%;
	background:url("../img/p20151.jpg") center center no-repeat;
	background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;	
}

#p20152{
	height:100%;
	min-height:100%;
	background:url("../img/p20152.jpg") center center no-repeat;
	background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;	
}

.slide-1 #p20151 .contenttextl {margin-top:20%;}

.bnav{
	position:fixed;
	width:100%; 
	height: 50px;
	bottom:0px;
	padding-top: 4px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgba(0,0,0,0.60);
	-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,.06);
	-moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,.06);
	box-shadow: inset 0 0 0 1px rgba(255,255,255,.06);"
}

.bnav_text{
	float:left;
    font-size:16px;
    text-align:center;
    font-weight:normal;
    list-style:none;
    width:100%;
}

.linevertical{
	border-left: 1px solid rgba(255,255,255,.1); 
	width:1px; 
	height: 40px; 
	
}


.img_portfolios{
	width:100%; 
	-webkit-box-shadow: inset 0 0 0 1px #000;
	-moz-box-shadow: inset 0 0 0 1px #000;
	box-shadow: inset 0 0 0 1px #000;
}



/*
 * skrollable CONFIGURATION!!!!!
 * 
 */




.skrollable {
	/*
	 * First-level skrollables are positioned relative to window
	 */
	position:fixed;

	/*
	 * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
	 */
	z-index:100;
}

/*
.skrollable.unrendered {
	display:none !important;
}
*/

.skrollable .skrollable {
	/*
	 * Second-level skrollables are positioned relative their parent skrollable
	 */
	position:absolute;
}

.skrollable .skrollable .skrollable {
	/*
	 * Third-level (and below) skrollables are positioned static
	 */
	position:static;
}




/*PORTFOLIO BALLARD*/
#p0v2{
	height: 990px;
	background:url("../img/p0v2.jpg") center center no-repeat;
	background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	
	
}

.pcontent{
	float: none;
	margin: auto;
	width: 100%;
 	background-color: #fff;
	display: block;
	overflow: auto;
	font-size: 20px;
	font-weight: 100;
	line-height: 1.6;	
}

.pmargin{
	padding: 5%;
	
	min-width:465px
}

.img_p_ballard{
	background:url("../img/p_ballardbackground.jpg") center center no-repeat;
	background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;	
}

.myicon{
	font-size: 18px;
	margin-right: 10px;
	display: inline-block;
}
.pcontent .img_p_ballard{	color:#FFF;	}









@media only screen and (max-width: 1025px) {
	html, body{
	
	font-weight:300;
	}
	
	.title{
	font-size:38px;
	}

	.subtitle{
		font-size:15px;
		
	}
	
	.text{
		font-size:16px;
		
	}
	.titlew{
	font-size:38px;
	}

	.subtitlew{
		font-size:15px;
		
	}
	
	.textw{
		font-size:16px;
		
	}
		

	.title{
	font-size:24px;
	}
	.subtitle{
		font-size:12px;	
	}
	.text{
		font-size:16px;	
	}
	
	.titlew{
	font-size:24px;
	}
	.subtitlew{
		font-size:12px;	
	}
	.textw{
		font-size:16px;	
	}
	
	.contenttext{
		padding: 10%;
		width: 90%;
		margin-top: 0%;
		background: rgba(0,0,0,0.7);
	}
	
	.contenttextl{
		padding-left: 2px;
		margin-top: 40px;
	}
	
	.contenttextr{
		width: 100%;
	}
	
	#p0 .contenttextr {
		margin-left: 3%;
	}
	#p0 .contenttextr {
 
  margin-left: 0;
  padding: 18px;
  background-color: rgba(0, 0, 0, 0.498039);
}
	
	#p20151 .contenttextr {
		margin-left: 3%;
	}
	

	.contenttextp6 {
		margin-top: -0%;
		padding-top: 20%;
		width: 320px;
	}
		
	.contenttextp6back {
		width: 320px;
		background-color: rgba(0,0,0,.7);
	}

	#p1{background:url("../img/p1.jpg") 23% no-repeat;}
	#p2{background:url("../img/p2.jpg") 55% no-repeat;}

	#p4{
		background: url("../img/p4.jpg") center no-repeat;
		background-size: cover;
	}

	#p5{background:url("../img/p5.jpg") 47% top no-repeat}
	
	#p6{min-height: 800px;}
	
	#p7{background:url("../img/p7.jpg") 56% no-repeat;}
	#p7 .contenttextl{padding-top:0px;}
	
	.alert-danger {
		margin-bottom: 10px;
	}
	
	.pmargin {width:100%; padding: 0%; min-width: inherit;} /*BALLARD PORT*/
	.img_p_ballard {  background: url("../img/p_ballardbackground.jpg") no-repeat;  background-size: 200%;  -moz-background-size: 200%;  -webkit-background-size: 200%;}

}

@media only screen and (max-width: 380px) {
	#p0{background:url("../img/p0.jpg")  0px 0px no-repeat;}
	#p2015 {background: url("../img/p20151.jpg") 0px 0px no-repeat;}
	/*p1{background:url("../img/p1.jpg") 23% no-repeat;}*/
	/*#p2{background:url("../img/p2.jpg") -900px -300px no-repeat;}*/
	#p3{background:url("../img/p3.jpg") center center no-repeat;}
	#p4{background: url("../img/p4.jpg") -280px 0px no-repeat; max-height: 800px;}
	#p5{background:url("../img/p5.jpg") -1080px -190px no-repeat}

	#p7{background:url("../img/p7.jpg") -570px -0px no-repeat;}
	
	
	
}


