@charset "UTF-8";

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


*{
	margin:0px;
	padding:0px;
}
html, body{
	background-color: #f8f8f8;
	height: 100%;
	min-height: 100%;
	font-family: "Lato","PT sans","tahoma","verdana","arial","sans-serif";
	font-weight: 300;
	color:#333855;
	font-weight:lighter;
	
}



/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:999; 
	
	background-color: #1A1E20;
 	-webkit-box-shadow: inset 0 0 950px #000000;
  	-moz-box-shadow: inset 0 0 950px #000000;
   	box-shadow: inset 0 0 950px #000000; 
}

#status {
	  width: 220px;
	  height: 220px;
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  /* background-repeat: no-repeat; */
	  /* background-position: center; */
	  margin: -100px 0 0 -100px;
	  /* background-color: rgba(255,255,255,.03); */
	  /* border: solid 1px rgba(255,255,255,.06); */
}

.preload_text_cont{
	float: none;
	margin: auto;
	text-align: center;
	margin-bottom:4px;
}

.preload_text{
	font-family: "Lato","PT sans","tahoma","verdana","arial","sans-serif";
	color: rgba(255,255,255,1);
	font-size: 11px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 2;
}



/* preload animations */

.spinner {
      margin: 70px auto;
	  margin-bottom: 40px;
      width: 40px;
      height: 40px;
      position: relative;
      text-align: center;
      
      -webkit-animation: rotate 2.0s infinite linear;
      animation: rotate 2.0s infinite linear;
    }

    .dot1, .dot2{
      width: 40%;
      height: 40%;
      display: inline-block;
      position: absolute;
      top: 0;
      background-color: #2ce4be;;
      border-radius: 100%;
      
      -webkit-animation: bounce 3.0s infinite ease-in-out;
      animation: bounce 3.0s infinite ease-in-out;
    }

    .dot2 {
      top: auto;
      bottom: 0px;
      -webkit-animation-delay: -0.7s;
      animation-delay: -0.7s;
    }
	
	

    @-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
    @keyframes rotate { 100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
      }
    }

    @-webkit-keyframes bounce {
      0%, 100% { -webkit-transform: scale(0.0) }
      50% { -webkit-transform: scale(1.0) }
    }

    @keyframes bounce {
      0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
      } 50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
    }
	
/* END PRELOAD */







.btn-danger {
	background-color: #fe6d6a;
	border: none;
	font-weight:300;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.17);
	-moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,.17);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.17);
	
	transition: all ease-out 0.5s;
	-ms-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s
}

.btn-danger:hover{
	background-color: #fcacaa;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.17);
	-moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,.17);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.17);
	
	transition: all ease-out 0.5s;
	-ms-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s
}
.btn-info{
	font-weight:300;
	font-size: 14px;
	background-color: #2ce4be;
	border: none;
	background-color: #63e1c9;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);
	
	
	transition: all ease-out 0.5s;
	-ms-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s
}

.btn-info:hover{
	border: none;
	background-color: #63bdac;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.17);
	-moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,.17);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.17);
	
	
	transition: all ease-out 0.5s;
	-ms-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s
}

.btn_transparent{
    color:#ffffff;
    
    padding:10px 50px;
    font-size:24px;
}



.btn_transparent:focus{
    color:#ffffff;
    text-decoration:none;
}

.btn{
    border-radius: 0px;
    padding:10px 30px;
}
.btn-purple {
    background-color: #ce3e7f;
    border-color: #ce3e7f;
    color: #FFFFFF;
}
.btn-purple:hover, .btn-purple:focus, .btn-purple:active, .btn-purple.active, .open .dropdown-toggle.btn-purple {
    background-color: #C23B78;
    border-color: #C23B78;
    color: #FFFFFF;
}
.btn-purple:active, .btn-purple.active, .open .dropdown-toggle.btn-purple {
    background-image: none;
}
.btn-purple.disabled, .btn-purple[disabled], fieldset[disabled] .btn-purple, .btn-purple.disabled:hover, .btn-purple[disabled]:hover, fieldset[disabled] .btn-purple:hover, .btn-purple.disabled:focus, .btn-purple[disabled]:focus, fieldset[disabled] .btn-purple:focus, .btn-purple.disabled:active, .btn-purple[disabled]:active, fieldset[disabled] .btn-purple:active, .btn-purple.disabled.active, .btn-purple.active[disabled], fieldset[disabled] .btn-purple.active {
    background-color: #ce3e7f;
    border-color: #ce3e7f;
}

/*txt*/
.main_bigtitle{
	position: relative;
    font-size:93px;
	margin: 0px;
	text-align: center;
	width: 100%;
	opacity:0;
    -moz-animation: animaname 1s ease-in 0.8s forwards; /* Firefox */
    -webkit-animation: animaname 1s ease-in 0.8s forwards; /* Safari and Chrome */
    -o-animation: animaname 1s ease-in 0.8s forwards; /* Opera */
    animation: animaname 1s ease-in 0.8s forwards;
	
}
.main_subtitle{
	position:absolute;
    font-size:24px;
	text-align: center;
	width: 100%;
	opacity:0;
    -moz-animation: animaname 1s ease-in 1.4s forwards; /* Firefox */
    -webkit-animation: animaname 1s ease-in 1.4s forwards; /* Safari and Chrome */
    -o-animation: animaname 1s ease-in 1.4s forwards; /* Opera */
    animation: animaname 1s ease-in 1.4s forwards;
}


.simple_text{
    line-height:2;
	font-weight: 300;
}
.bg_txt{
    
    color:#ffffff;
    padding:15px 20px;
	/*
	background:transparent url('../img/bg_black_tr.png') repeat 0% 0%;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;*/
}
.bg_txt.it{
    margin-bottom:40px;
    font-style:italic;
}

/*header*/
header{
    background-color:#172c50;
    font-size:30px;
	font-weight: 300;
	position: fixed;
	z-index: 140;
	width: 100%;
}
header .header_cnt{
    width:1200px;
    max-width:100%;
    margin:auto;
}
header .header_cnt p{
    margin:0px;;
}
header .header_cnt .left_col{
    color:#5f6d86;
    text-shadow:1px 1px #132543;
}
header .header_cnt .menu_col,
#header_menu{
    display:none;
}
header .header_cnt .right_col{
    text-align:right;
}
header .header_cnt .right_col a{
    text-decoration:none;
}
header .header_cnt .right_col span{
    color:#5f6d86;
    padding:5px 8px;
    font-size:18px;
    border:2px #5f6d86 solid;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin:0px 3px;
}
header .main_menu{
    font-size:16px;
    text-align:center;
    font-weight:300;
    list-style:none;
    width:560px;
    margin:auto;
}
header .main_menu li{
	width: 140px;
    float:left;
    margin:0px;
    padding:13px 10px;
}
header .main_menu a{
    color:#ffffff;
	text-decoration: none;
	font-weight: 300;
}
header .main_menu .mm_orange{
    background-color:#ffc573;
    text-shadow:1px 1px #ffb056;
	transition: all ease-in 0.25s;
}
header .main_menu .mm_orange:hover{
    background-color:#fdd9a7;
    text-shadow:1px 1px #ffb056;
	padding-top:5px;
	transition: all ease-out 0.25s;
}

header .main_menu .mm_red{
    background-color:#fe6d6a;
    text-shadow:1px 1px #fe5653;
	transition: all ease-in 0.25s;
}
header .main_menu .mm_red:hover{
    background-color:#ff9593;
    text-shadow:1px 1px #fe5653;
	padding-top:5px;
	transition: all ease-out 0.25s;
}


header .main_menu .mm_purple{
    background-color:#c37bf0;
    text-shadow:1px 1px #af5fea;
	transition: all ease-in 0.25s;
}
header .main_menu .mm_purple:hover{
    background-color:#d093f6;
    text-shadow:1px 1px #af5fea;
	padding-top:5px;
	transition: all ease-out 0.25s;
}

header .main_menu .mm_green{
    background-color:#2ce4be;
    text-shadow:1px 1px #1fdcad;
	transition: all ease-in 0.5s;
}
header .main_menu .mm_green:hover{
    background-color:#adeadd;
    text-shadow:1px 1px #1fdcad;
	padding-top:5px;
	transition: all ease-out 0.5s;
}
.contentmytop{
	width:100; height: 70px; float:right; 
}
.mytop{
	width: 70px; 
	height: 44px;  
	float: right; 
	
	padding-right: 9px;
	color:rgb(255,255,255);
	text-decoration:none; 


	font-size:28px; 
	text-align:center;  

	background-color:#172c50; 
	z-index: 3000;
	cursor:pointer;
}
.mytop:hover{
	text-decoration:none;
	color:#ffffff;
}



/*circles*/

.center_clearfix{
	text-align: center;
}
.circle_containter{
	width:130px;
    margin:10px 5px 5px 0px;
	display: -webkit-inline-box;
}
		
.circle {
	margin:auto;
	text-align:center;
	margin-left: 0px;
	width:100%;
}

/* 			- the element containing the graph */
.circles-wrp{
}
		
/* 	- the element wrapping the text and number */
.circles-text-wrp{
			
}
		
/* 			- the element containing the text */
.circles-text{
    font-family: 'Lato', sans-serif; font-size:28px; font-weight:lighter; text-transform:uppercase; color:#7f8296;	font-weight:300;
}
		
/*  		- the element containing the number */
.circles-number{
    font-family: 'Lato', sans-serif; font-size:28px; font-weight:lighter; text-transform:uppercase; color:#7f8296;	font-weight:300;
}
		
.tinytext{
    float:left; text-align:center; width:100%;
	font-family: 'Lato', sans-serif; font-size:12px; font-weight:lighter; text-transform:uppercase; color:#7f8296;	font-weight:300;
}

/*navs*/
.nav-tabs{
    font-size:24px;
}
.nav-tabs li{
    margin-right:6px;
}
.nav-tabs li a{
    background-color:#ffffff;
    color:#333855;
    width:200px;
    text-align:center;
}
.nav-tabs > li > a {
    border: 1px solid #DDDDDD;
}

.nav-tabs li a:hover{
	background-color:rgb(245, 245, 245);	
}




.tab-content{
    border:1px #DDDDDD solid;
    border-top:none;
    background-color:#ffffff;
    padding:40px 25px;
}

/*sliders*/
.slide{
	font-weight:300;	
    
}
.slide .slide_cnt{
    margin:auto;
    width:1200px;
    max-width:97%;
    overflow:hidden;
}
.slide .slide_cnt .sc_titles{
    border-left:10px #fe6d6a solid;
}
.slide .slide_cnt .sc_titles.purple{
    border-color:#c37bf0;
}
.slide .slide_cnt .sc_titles p{
    line-height:1;
    margin:0px;
    margin-left:5px;
}
.slide .slide_cnt .sc_titles .maintitle{
    font-size:60px;
}
.slide .slide_cnt .sc_titles .subtitle{
    font-size:18px;
    text-transform:uppercase;
    margin-left:10px;
}
.slide.bg_img{
    text-align:center;
	width: 100%;
    
}
.slide.bg_img .slide_cnt{
   
    top:50%;
    width:100%;
    max-width:100%;
    margin-top:-300px;
}
.slide.bg_img .slide_cnt .sc_float_txt{
    font-size:30px;
    width:800px;
    max-width:90%;
    margin:auto;
}
.slide.bg_img .slide_cnt .sc_float_txt_tit{
    font-size:45px;
    width:800px;
    max-width:90%;
    margin:auto;
}
.slide.bg_img .sc_bg_img{

	top: 0; left: 0;
	width: 100%; height: 400px;
    margin:0px;
	/*
	background:url("../img/bg_frases_transpar.jpg") repeat-y;
	background-position-y: -400px;
	background-size: 100%;
	*/
	background: transparent;
	
}
.slide.bg_img .sc_bg_img img{
    width:100%;
}

/*slide1*/
#slide1{
	width:100%;
	height:100%;
	z-index:101;
}

#slidevideo{
	width:100%;
	height:100%;
}

/* VIDEO */



#video_background {
/*	margin-top:-100px;*/
	
	
	
	overflow: hidden;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1001;
	
}



#slidevideo .sc_bg_img{
	background:transparent url("../img/bg_frases.jpg") center center no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	min-width:100%;
    min-height:100%;
}
#slide1 .sc_bg_img img{
    width:100%;
}
.slide .video_slide_info{
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    text-align:center;
    color:#ffffff;
    height:100%;
}
.slide .video_slide_info .main_bigtitle,
.slide .video_slide_info .main_subtitle{
    margin:0px;
    line-height:1.2;
}
.slide .video_slide_info .vsi_titles_cnt{
    position:absolute;
    top:25%;
    left:50%;
    margin-left:-350px;
}
.slide .video_slide_info .vsi_btn_cnt{
    position:absolute;
    bottom:15%;
    left:50%;
    margin-left:-80px;
	
	opacity:0;
    -moz-animation: animaname 1s ease-in 2s forwards; /* Firefox */
    -webkit-animation: animaname 1s ease-in 2s forwards; /* Safari and Chrome */
    -o-animation: animaname 1s ease-in 2s forwards; /* Opera */
	-ms-animation: animaname 1s ease-in 2s forwards;
    animation: animaname 1s ease-in 2s forwards;
	
	
}

/*slide2*/
#slide2{
    padding:60px 0px;
	width:100%;
	background-color:#f8f8f8;
	z-index:200;
}
#slide2 .sc_info_cnt{
    margin-top:30px;
}
#slide2 .simple_text{
    font-size:24px;
}
#slide2 .sc_btn_cnt{
    padding-top:70px;
}
#slide2 .sc_btn_cnt .btn{
    float:right;
}
#slide2 .nav-tabs{
    margin-top:50px;
}
#slide2 .tab-content .txt{
    font-size:22px;
}
#slide2 .sc_imgs_cnt{
    padding-top:10px;
}
#slide2 .sc_imgs_cnt .tab_img{
    text-align:center;
    border:6px #f0f0f0 solid;
}
#slide2 .sc_imgs_cnt .tab_img img{
    border:2px #ffffff solid;
}

#fondo{
	width:100%; 
	height:100%;
	top: 0%;
	
	
	background-color: rgba(23,46,82,.67);
	-webkit-box-shadow: inset 0 0 163px rgba(23,46,82,.77);
	-moz-box-shadow: inset 0 0 163px rgba(23,46,82,.77);
	box-shadow: inset 0 0 163px rgba(23,46,82,.77);	
}

#fondo2{
	width:100%; 
	height:100%;
	top: 0%;
	
	background-color: rgba(23,46,82,.67);
	-webkit-box-shadow: inset 0 0 163px rgba(23,46,82,.77);
	-moz-box-shadow: inset 0 0 163px rgba(23,46,82,.77);
	box-shadow: inset 0 0 163px rgba(23,46,82,.77);		
}



/*slide4*/
#slide4{
    background:transparent url("../img/bg_lamp.jpg") no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-ms-background-size:cover;
	width:100%;
	height: auto;
	background-color:#f8f8f8;
}
#slide4 .slide_cnt{
    padding-top:100px;
    padding-bottom:100px;
    width:920px;
}
#slide4 .simple_text {
	font-size:24px;
    line-height:2;
    padding-top:25px;
    margin-bottom:50px;
    margin-left:15px;
    margin-right:85px;
    font-size:24px;
}

/*slide6*/
#slide6{
    background-color:#f8f8f8;
	width:100%;
	height: 100%;
	z-index: 300;
	display:table;
}
#slide6 .slide_cnt{
    text-align:center;
	display:table-cell;
	vertical-align:middle;
}
#slide6 .slide_cnt .sc_social_icons_cnt{
    margin-bottom:30px;
    margin-top:60px;
}
#slide6 .slide_cnt .sc_social_icons_cnt a{
    text-decoration:none;
}
#slide6 .slide_cnt .sc_social_icons_cnt span{
    padding:7px 12px;
    font-size:40px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin:0px 13px;
}

.avatar{
	-webkit-border-radius: 96px;
	-moz-border-radius: 96px;
	border-radius: 96px;
	background-color: #f6f6f8;
	-webkit-box-shadow: inset 0 0 79px rgba(248,248,248,.08);
	-moz-box-shadow: inset 0 0 79px rgba(248,248,248,.08);
	box-shadow: inset 0 0 79px rgba(248,248,248,.08);
	border: solid 6px rgba(0,0,0,.07);
}
.slide_cnt .sc_social_icons_cnt .entypo-dribbble{
    border:9px #f75a92 solid;
    color:#f75a92;
}
.slide_cnt .sc_social_icons_cnt .entypo-skype{
    border:9px #2696e1 solid;
    color:#2696e1;
}
.slide_cnt .sc_social_icons_cnt .entypo-mail{
    border:9px #e04a3f solid;
    color:#e04a3f;
}
.slide_cnt .sc_social_icons_cnt .entypo-behance{
    border:9px #3c74cb solid;
    color:#3c74cb;
}
.slide_cnt .sc_social_icons_cnt .entypo-linkedin{
    border:9px #2c8cc0 solid;
    color:#2c8cc0;
}
#slide6 .slide_cnt .sc_info_cnt{
    font-size:24px;
    padding-bottom:25px;
}
#slide6 .slide_cnt .sc_info_cnt p{
    margin:0px;
}
#slide6 .slide_cnt .sc_info_cnt .sm_txt{
    font-size:14px;
}
#slide6 .slide_cnt .sc_btn_cnt .btn{
    width:200px;
}

/* Thumb Info */
a.thumb-info {
	display: block;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	max-width: 100%;
}
a.thumb-info:hover span.thumb-info-action-icon {
	right: 0;
}

a.thumb-info:hover span.thumb-info-action {
	filter: alpha(opacity=100);
	opacity: 1;
}
a.thumb-info span.thumb-info-action-icon {
	display: inline-block;
	font-size: 24px;
	position: absolute;
	right: -100px;
	text-align: left;
	top: 50%;
	margin-top:-30px;
	transition: all 0.3s;
	width: 80%;
	color:#ffffff;
}
a.thumb-info span.thumb-info-action-icon .entypo-link {
	float:left;
	color:#e34b37;
	font-size:45px;
	margin-right:12px;
	padding:0px 15px;
    border:2px #e34b37 solid;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
a.thumb-info span.thumb-info-action-icon .thumb-info-action-text {
	float:left;
	line-height:0.8;
	padding-top:15px;
}
a.thumb-info span.thumb-info-action-icon .thumb-info-action-text span{
	font-size:14px;
}
a.thumb-info span.thumb-info-action {
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	background: rgba(0,0,0, .755);
	bottom: 0;
	color: #ADADAD;
	filter: alpha(opacity=0);
	height: 100%;
	left: 0;
	opacity: 0.0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.3s;
	width: 100%;
}
a.thumb-info:hover img {
	-moz-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}
a.thumb-info img {
	-moz-border-radius: 0;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-webkit-border-radius: 0;
	-webkit-transition: all 0.2s linear;
	border-radius: 0;
	position: relative;
	transition: all 0.2s linear;
}



.404bg{
    background:transparent url("img/bg_frases.jpg") center center no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	min-width:100%;
    min-height:100%;

}



@media only screen and (max-width: 1050px) { /*ipad - mobile*/

	.slide.bg_img .sc_bg_img{
	height: 300px;
	
	}
	
	.slide .video_slide_info .vsi_btn_cnt{
    bottom:120px;

	}
	
    .slide.bg_img .slide_cnt{
        margin-top:-360px;
    }
    .slide.bg_img .slide_cnt .sc_float_txt{
        font-size:24px;
		margin-top: 200px;
    }
	.slide.bg_img .slide_cnt .sc_float_txt_tit{
        font-size:28px;
		margin-top: 200px;
	}
	
    .bg_txt{
        padding:10px 20px;
    }
    .bg_txt.it{
        margin-bottom:35px;
    }
    a.thumb-info span.thumb-info-action-icon {
	    font-size: 20px;
	    width: 85%;
    }
    a.thumb-info span.thumb-info-action-icon .entypo-link {
	    font-size:34px;
	    padding:0px 12px;
	    margin-right:6px;
	}
    a.thumb-info span.thumb-info-action-icon .thumb-info-action-text{
	    padding-top:12px;
    }
    a.thumb-info span.thumb-info-action-icon .thumb-info-action-text span{
	    font-size:12px;
    }
}

@media only screen and (max-width: 850px) { /*ipad - mobile*/
	html, body{
	font-weight:300;
	}
    .maincontainer{
    }
	.slide.bg_img .sc_bg_img{
	height: 250px;
	
	}
	
	.vsi_titles_cnt {
	margin-left: 0px;
	width: 100%;
	position: static;
	padding-top: 100px;
	}
	
    .slide.bg_img .slide_cnt {
	margin-top: -160px;
	}
	.slide.bg_img .slide_cnt .sc_float_txt{
        font-size:20px;
		margin-top: 0px;
    }
	.slide.bg_img .slide_cnt .sc_float_txt_tit{
        font-size:20px;
		margin-top: 0px;
    }
    .bg_txt{
        padding:8px 20px;
    }
    .bg_txt.it{
        margin-bottom:20px;
    }
    .btn_transparent{
        font-size:20px;
    }
    .btn{
        font-size: 12px;
    }
    .main_bigtitle{
        font-size:80px;
    }
    .main_subtitle{
        font-size:20px;
    }
    
    header .header_cnt .left_col{
        font-size:25px;
    }
    header .header_cnt .right_col{
        margin-top:-5px;
    }
    header .header_cnt .right_col a{
    }
    header .header_cnt .right_col span{
        padding:5px 7px;
        font-size:15px;
    }
    header .main_menu{
        font-size:14px;
        width:100%;
    }
	header .main_menu li{
	width: 130px;
	}
    .slide .slide_cnt .sc_titles .maintitle{
        font-size:50px;
    }
    .slide .slide_cnt .sc_titles .subtitle{
        font-size:16px;
    }
    
	
	
    .slide .video_slide_info .vsi_titles_cnt,
    .slide .video_slide_info .vsi_btn_cnt{
		
        margin-left:0px;
        width:100%;
        position:static;  
        padding-top:100px;  
    }
	
        
    #slide2 .simple_text,
    .nav-tabs{
         font-size:20px;
		 
    }
	
	
    #slide2 .tab-content .txt{
        font-size:18px;
    }
    #slide2 .sc_btn_cnt{
        text-align:center;
        padding-top:10px;
    }
    #slide2 .sc_btn_cnt .btn{
        float:none;
    }
    #slide2 .nav-tabs{
        margin-top:15px;
    }
    #slide4 .slide_cnt{
        padding-bottom:50px;
    }
    #slide2 .simple_text{
		font-size:20px;
        line-height:1.8;
        margin-bottom:20px;
        margin-right:0px;
        font-size:20px;
    }
    #slide6 .slide_cnt .sc_info_cnt{
        font-size:20px;
    }
    #slide6 .slide_cnt .sc_info_cnt .sm_txt{
        font-size:12px;
    }
    #slide6 .slide_cnt .sc_btn_cnt .btn{
        width:150px;
    }
    
    a.thumb-info span.thumb-info-action-icon {
	    font-size: 18px;
	    width: 88%;
	    margin-top:-25px;
    }
    a.thumb-info span.thumb-info-action-icon .entypo-link {
	    font-size:28px;
	    padding:0px 9px;
	}
    a.thumb-info span.thumb-info-action-icon .thumb-info-action-text span{
	    font-size:11px;
    }
    
    #canvas{
        width: 93%;
		float: none;
		margin: auto;
    }
    .circle_containter{
	    
        
    }
	#slide4 {
	
	}
    #slide6 .slide_cnt{
        padding-bottom:100px;
    }
    #slide6 .slide_cnt .sc_social_icons_cnt{
        margin-top:50px;
    }
    #slide6 .slide_cnt .sc_social_icons_cnt span{
        font-size:30px;
        margin:0px 10px;
        border-width:6px;
    }
}

@media only screen and (max-width: 700px) { /*mobile*/
    .maincontainer{
    }
	.slide.bg_img .slide_cnt {
	margin-top: -150px;
	}
    .slide.bg_img .slide_cnt .sc_float_txt{
        font-size:18px;
    }
	.slide.bg_img .slide_cnt .sc_float_txt_tit{
        font-size:18px;
    }
    .bg_txt{
        padding:5px 20px;
    }
    .bg_txt.it{
        margin-bottom:10px;
    }
    .btn_transparent{
        font-size:18px;
        padding:5px 25px;
    }
    .main_bigtitle{
        font-size:40px;
    }
    .main_subtitle{
        font-size:16px;
    }
    
    header .header_cnt{
        position:relative;
    }
    header .header_cnt .left_col{
        font-size:20px;
        padding-top:5px;
    }
    header .header_cnt .menu_col{
        display:block;
        text-align:right;
        padding-top:0px;
        
    }
   header .header_cnt .menu_col .entypo-menu{
        color:#5f6d86;
        text-shadow:1px 1px #132543;
        font-size:35px;
        line-height:1;
        cursor:pointer;
    }
    #header_menu{
        display:none;
        position:absolute;
        left:0px;
        top:40px;
        width:100%;
        z-index:1000;
    }
    #header_menu li{
        float:none;
        font-size:14px;
    }
    header .header_cnt .mid_col,
    header .header_cnt .right_col{
        display:none;
    }
    .nav-tabs li a{
        width:120px;
    }
    .tab-content{
        padding:20px 15px;
    }

    .slide .slide_cnt .sc_titles .maintitle{
        font-size:45px;
    }
    .slide .slide_cnt .sc_titles .subtitle{
        font-size:14px;
    }
    .slide .video_slide_info{
        position:absolute;
        top:50%;
        margin-top:-65px;
        height:inherit;
    }
    .slide .video_slide_info .vsi_titles_cnt{
        padding-top:0px;
    }
    .slide .video_slide_info .vsi_btn_cnt{
        padding-top:125px;
    }
    #slide2{
        padding:30px 0px;
    }
    #slide2 .sc_info_cnt{
        margin-top:10px;
		margin-left:1px;
    }
    #slide2 .simple_text,
    .nav-tabs{
         font-size:16px;
    }
    
    #slide2 .tab-content .txt{
        font-size:14px;
    }
    #slide2 .tab-content .row div{
        padding:5px;
    }
    #slide4 .slide_cnt{
		padding-top:40px;
        padding-bottom:25px;
    }
	
    #slide4 .simple_text{
		font-size:16;
        line-height:1.8;
        margin-right:15px;
        font-size:18px;
        padding-top:10px;
    }
    #slide6 .slide_cnt{
        padding-bottom:50px;
        padding-top:130px;
    }
    #slide6 .slide_cnt .sc_social_icons_cnt{
        margin-top:50px;
    }
    #slide6 .slide_cnt .sc_social_icons_cnt span{
        font-size:25px;
        margin:4px 6px;
        border-width:4px;
    }
    
    a.thumb-info span.thumb-info-action-icon {
	    font-size: 14px;
	    width: 88%;
	    margin-top:-15px;
    }
    a.thumb-info span.thumb-info-action-icon .entypo-link {
	    font-size:18px;
	    padding:0px 5px;
	}
    a.thumb-info span.thumb-info-action-icon .thumb-info-action-text{
	    font-size:10px;
	    padding-top:7px;
    }
    a.thumb-info span.thumb-info-action-icon .thumb-info-action-text span{
	    font-size:8px;
    }
    
}

@media only screen and (max-width : 320px) { /*mobile*/
    .maincontainer{
    }
	.slide.bg_img .sc_bg_img{
	height: 200px;
	}
	
	.slide.bg_img .slide_cnt {
	margin-top: -60px;
	}

    .slide.bg_img .slide_cnt .sc_float_txt{
        max-width:95%;
    }
	.slide.bg_img .slide_cnt .sc_float_txt{
        max-width:95%;
    }
    .bg_txt{
        padding:2px 10px;
    }
    .bg_txt.it{
        margin-bottom:5px;
    }
    
    .btn_transparent{
        font-size:12px;
        padding:5px 25px;
    }
    
	
	.main_bigtitle{
        font-size:30px;
    }
    .main_subtitle{
        font-size:12px;
    }
    
    .nav-tabs li a{
        width:110px;
        padding:5px;
    }
    .tab-content{
        padding:10px 15px;
    }
    
    
	
	
	
    .slide .video_slide_info{
        margin-top:-40px;
    }
    .slide .video_slide_info .vsi_titles_cnt{
        
    }
    .slide .video_slide_info .vsi_btn_cnt{
        padding-top:115px;
    }
    
    #slide4{
        background-image:none;
        background-color:#f8f8f8;
    }
    #slide4 .slide_cnt{
        
        padding-bottom:0px;
    }
   
    #slide6 .slide_cnt .sc_social_icons_cnt{
        max-width:250px;
        margin-left:auto;
        margin-right:auto;
    }
    #slide6 .slide_cnt .sc_social_icons_cnt .sc_next_line{
        margin-top:20px;
        display:inline-block;
    }
    
    a.thumb-info span.thumb-info-action-icon {
	    font-size: 12px;
	    margin-top:-15px;
    }
    a.thumb-info span.thumb-info-action-icon .entypo-link {
	    display:none;
	}
    a.thumb-info span.thumb-info-action-icon .thumb-info-action-text{
	    font-size:10px;
    }
    a.thumb-info span.thumb-info-action-icon .thumb-info-action-text span{
	    font-size:8px;
    }
    
    #canvas{
        width:100%;
        
    }
    .circle_containter{
	   
    }
	
}



/*
 * skrollable CONFIGURATION!!!!!
 * 
 */




.skrollable {
	/*
	 * First-level skrollables are positioned relative to window
	 */
	position:fixed;

	/*
	 * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
	 */
	z-index:100;
}

/*
.skrollable.unrendered {
	display:none !important;
}
*/

.skrollable .skrollable {
	/*
	 * Second-level skrollables are positioned relative their parent skrollable
	 */
	position:absolute;
}

.skrollable .skrollable .skrollable {
	/*
	 * Third-level (and below) skrollables are positioned static
	 */
	position:static;
}





/** animated boxes **/
.animBlock {
  display: inline-block;
  opacity: 0;
  filter: alpha(opacity=0);
  position: relative;
  -webkit-transition: all .85s ease-in;
  -moz-transition: all .85s ease-in;
  -ms-transition: all .85s ease-in;
  -o-transition: all .85s ease-in;
  transition: all .85s ease-in;
}
.animBlock[data-position="left"] { left: -50%;}
.animBlock[data-position="right"] { right: -50%;}
.animBlock[data-position="center"] { left: 0%;}

.animBlock[data-position="left"].viewed {
  left: 0%;
  opacity: 1;
  filter: alpha(opacity=100);
}
.animBlock[data-position="right"].viewed {
  right: 0%;
  opacity: 1;
  filter: alpha(opacity=100);
}

.animBlock[data-position="center"].viewed {
  opacity: 1;
  filter: alpha(opacity=100);
  
}


@keyframes animaname{from { opacity:0;} to { opacity:100;}}
@-webkit-keyframes animaname{from { opacity:0; } to { opacity:100;}}
@-moz-keyframes animaname{from { opacity:0;} to { opacity:100;}}
@-ms-keyframes animaname{from { opacity:0;} to { opacity:100;}}
@-o-keyframes animaname{from { opacity:0;} to { opacity:100;}}




